03-02. 큰 수의 법칙 해답 #1.py
03-02. 큰 수의 법칙 해답 #2.py

03-03. 숫자 카드 게임 #1.py
03-03. 숫자 카드 게임 해답 #1.py
03-03. 숫자 카드 게임 해답 #2.py

03-04. 1이 될 때까지 해답 #1.py
03-04. 1이 될 때까지 해답 #2.py

04-02. 시각.py

practice.py
/.vscode